.container-usuarios{
    background-color: rgb(255, 183, 0);
    border: outset;

    border-radius: 10px;
    box-shadow: 0 0 10px #00000050;
   
    color:  white;
}
.h4-cant-usuarios{
    border: white 2px outset;
    background-color:rgba(255, 187, 0, 0.678);
    border-radius: 10px;
  
    position: absolute;
    right: 2%;
    top: 10%;
}